.table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
    margin: 20px 0;
}

.table__cell--header {
    border: 1px solid #ccc;
    background-color: #18663d;
    color: #92c398;
}

.table__caption {
    margin-bottom: 10px;
    font: bold;
}

.table__cell {
    text-align: center;
    border: 1px solid #9d9999;
}

.table__row:nth-child(even) {
    background: rgb(169 220 170);
}

.table__row:hover {
    background-color: #6db885;
}